html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  min-height: 0;
  min-width: 0;
}

@media (max-width: 1707px) and (min-width: 963px) {
  html {
    font-size: 28.4px;
  }
}
